<div>
{% if board %}

<script type="text/javascript">
function getID(oObject)
{
    //clearTimeout(myRefresh);
    //setTimeout(refresh, 10000)
    var id = oObject.id;//
    id = id.substr(3);
    //alert("idaaaa=" + id);

    $.ajax({
        type: "GET",
        url: "/client/move/?click=" + id , // this should grab only #table element...
        success: function(data){},
        failure: function(errMsg) {
               alert(errMsg);
        }

    })

    }
</script>

    <table id="chess_board" cellpadding="0" cellspacing="0">



        {% for item in board %}
        {% if forloop.counter0|divisibleby:8 %}
            <tr>{% endif %}
                <td id=id_{{ forloop.counter0}} onclick="getID(this);" >
                {% if item == "." %}    <a href="#"></a>
                {% elif item == 'm' %}   <a href="#">&#128045;</a>
                {% else %}  <a href="#">&#128570;</a>
               </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    </table>
{% else %}
     empty board
{% endif %}
</div>